

.search {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form {
    margin-top: 1rem;
}

.city-input {
    background-color: #FFFFFF;
    padding: 10px;
    width: 450px;
    border: 2px solid #BAE6FD;
    border-radius: 20px;
}

h1 {
    color: #0EA5E9;
    font-size: 3.13rem;
}